*{
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

/* header and navigation styles */
.nav-titel{
    font-weight: 800px;
    font-size: 45px;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
}
.nav-titel{
  
    
}
.btn-primaey{
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 65px;
    border-radius: 5px ;
    background-color: #FD6F0A;
}
nav ul{
    display: flex;
    align-items: center;
    
}
nav li{
   
    list-style: none;
    margin: 50px ;
}

.text-primary{
    color: #FD6F0A;
}
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'),url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right,left;
}
/* bannar styles */
.bannar{
    display: flex;
    align-items: center;
    margin: 0 200px;
}
.bannar-titel{
    font-weight: 700;
    font-size: 85px;
}
.bannar-sub-titel{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}
.bannar-descriptson{
    color: #757575;
    margin-bottom: 30px;
}
/* main section styles */
main{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}


/* about section styles */
.about{
    margin top: 130px;
    background: #FFF8F3;
    border-radius: 10;
    padding: 130px 150px;
}
.section-titel{
   
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
}
.section-descriptson{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.info-titel{
    font-size: 20px;
    color: #757575;
}
.info-descriptson{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}
/* whot i do styles */
.What i do{
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
}
.skill-container{
    display: flex;
    gap: 24px;
}
.skill-titel{
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-descriptson{
    color: #757575;
}
.skill{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0,0, 0, 0);
    border-radius: 5px;
    padding: 30px;

}
.section-titel{
    margin top: 130px;
   
    border-radius: 10;
    padding: 130px 150px;
}
/* Resume content styles */
.resume-content{
    display: flex;
}
.resume .titel{
    color:#474747 ;
    font-weight: 700;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.resume .sub-titel{
    color:#757575 ;
    font-weight: 600;
    font-size: 20px;
}
.resume .descriptson{
    color: #757575;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume-button{
    margin-top: 50px;
    text-align: center;
}
/* contact styles */

.contacts{
    
    display:flex;
    gap: 0px;
    background: #FFF8F3;
    padding: 130px 200px;
    
    
}
.contacts .section-titel{
    
    text-align: left;
    
}
.contacts .input , textarea{
    
    margin-bottom: 14px;
}
